<%- include("partials/header")%>
<h1>About</h1>
<p><%=aboutContent%></p>


<h2>To see some of my apps please check the following links</h2>
<ul>
<li> <a href="https://szpytma-todolist-v1.herokuapp.com/"target="_blank">ToDoList</a></li>
<li> <a href="https://szpytma.github.io/Simon-Game/" target="_blank">Simon Game</a></li>
<li> <a href="https://szpytma.github.io/drumKit/" target="_blank">Drum Kit Game</a></li>
<li> <a href="https://szpytma.github.io/DiceGame/"target="_blank">Dice Game</a></li>
<li> <a href="https://guess-my-number-mate.netlify.app/" target="_blank">Guess My Number Game</a></li>
<li><a href="https://github.com/szpytma" target="_blank">More comming soon</a></li>
</ul>

<%- include("partials/footer")%>

