<%- include("partials/header")%>
<h1>Contact</h1>
<p><%=contactContent%></p>

<ul>
 <li><a class="footer-link" href="https://www.linkedin.com/in/szpytma/" target="_blank">LinkedIn</a>
    </li>
 <li><a class="footer-link" href="https://github.com/Szpytma" target="_blank">Github</a></li>
</ul>
<%- include("partials/footer")%>
